<script src="../../../../scripts/jquery-1.6.2.min.js"></script>
<script src="../viewmodels/print.js"></script>
<style type="text/css">
    @media print
    {
        .pageBreak
        {
            page-break-after: always; /*强制换页的关键*/
        }
        .noPrint
        {
            display: none;
        }
    }
</style>
<!-- <script type="text/javascript">
    $(function(){
        $("#tar").click(function(){
            alert(1)
        }); 
    } )  
</script> -->
<style>
    .opp{
        margin: 0;
        padding:0;
    }
    .memberInfo ul{
        list-style: none;
        padding:0 24px;
    }
    .memberInfo li p,.memberInfo li b{
        line-height: 32px;
    }
    .opp .checkbox{
        width: 16px;
        height: 16px;
        margin-top: 0px;
    }
    .btn-ant{
        background: #fff;color:#333;border:none;font-size: 14px;margin-right:8px;
        outline: none;
        cursor:pointer;
        
    }
    .btn-ant:hover{
        color:#1890ff;
        opacity: .75;
    }
    .current{
        color:#1890ff;
    }
    .ant-btn{
        border:1px solid #e8e8e8;
        background-color: #fff;
        color:#333;
        outline:none;
        padding:6px 12px;
        border-radius:4px;
        cursor: pointer;
        margin-right: 8px;
    }
    .ant-btn-primary{
        background-color: #1890ff;
        color:#fff;
        border-color:#1890ff;
    }
    .ant-btn:hover{
        opacity: .8;
    }
    .ant-btn-danger{
        color:#f5222d;
    }
    .rf{
        text-align: right;
    }
    .rf p{
        display: block;
    }
    .left_list{
        background-color: #fff;
        height:calc(100vh - 114px);
        overflow: auto;
    }
    .opp .rightTitle{
        height:40px;
        line-height: 40px;
        width:calc(100% - 40px);
    }
    .opp .allScreenBtn{
        width: 16px;
        height: 16px;
        margin: 12px;
    }
    .opp .rightDetail{
        height: calc(100vh - 96px);
        background-color: #fff;
        overflow: auto;
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .listDetail{
        margin-top: 8px;
    }
    .newDetails{
        border-bottom:1px solid #e8e8e8;
        height: 32px;
        margin:0 24px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
    }
    .newDetails h3{
        color:#333;
        font-size: 14px;
        display: block;
        float: left;
        margin: 0;
        border: none!important;
        margin-right: 16px;
        line-height: 32px;
        box-sizing: border-box;
    }
    .newDetails .b1{
        border:none;

    }
    .opp .btnBg{
        background-color: #fff;
        color: #1890ff;
    }
    .hellow{
        padding:24px;
        box-sizing: border-box;
    }
    .hellow{
        line-height: 24px;
    }
    .workingflow{
        width: calc(100% - 48px);
        box-sizing: border-box;
        margin:16px 24px;
        border:'1px solid #e8e8e8'
    }
    
    .workingflow tr,.workingflow td,.workingflow th{
        border: 1px solid #e8e8e8;
        line-height: 32px;
        font-weight: 100;
        text-align: center;
        font-size: 16px;
        padding:0 16px;
        box-sizing: border-box;
    }
    .workingflow th{
        font-weight: bold;
    }
</style>
<form id="form1" class="opp">
<!--     
    
    <div class="title" data-bind="visible:allScreen()">
        <b class="titleText">Offer Confirmation</b>
    </div> -->
    <div style="overflow: hidden; width:100%;border-bottom:1px solid #e8e8e8;padding:14px;">
        
        <button type="button"  class='btn-ant tab tab2 current' onclick="$('.tab').addClass('current');$('.tab1').removeClass('current');rev();">
            <!-- onclick="rev()"  -->
            Records
        </button>
    </div>
    <div class="left br" data-bind="visible:allScreen()" style='border-color: #e8e8e8;'>      
        <div style="overflow: hidden;background: #fff;">
            <div class="listHeader bb" data-bind="visible:showWFA()">
                <div class="lf">
                    <button type="button" data-bind="click:approveSubmits" class="ant-btn ant-btn-primary">
                        Approve
                    </button>
                    <button type="button"  class="ant-btn ant-btn-danger" data-bind="click:rejectSubmits">
                        Reject
                    </button>
                </div>
                <div class="rf">
                    <input type="checkbox" class="checkbox" id="c1"  onclick="selectAll()">
                    <p>Select All</p>
                </div>
            </div>
            <div class='left_list'>
            <div class="img_data"  data-bind="visible:data()">
              No Data 
            </div>
            <!-- old -->
            
            <!-- old -->
            <table width=100%>
                <tbody data-bind="foreach: oList">
                    <tr data-bind="click: selectOnly">
                         <td class="tdTitle bb">
                             <label style="width: 100%;margin:0">
                                <div class="tdDiv">
                                    <b data-bind="text: C3_577527878289"></b><b>-</b>
                                    <b data-bind="text: C3_575720832516"></b> <b>of</b>
                                    <b data-bind="text: C3_575720833026"></b>
                                    <!-- <b data-bind="text: C3_577295903953"></b> -->
                                    <input type="checkbox" class="checkbox rf" data-bind="checked: checkedState,visible:$root.showWFA()">
                                </div>
                                <div class="tdDiv">
                                     Time: <p data-bind="text: date"></p>
                                  
                                    <div class="rf" data-bind="visible:$root.showWFA()">
                                       Duration <span data-bind="text: days"></span> days
                                    </div>
                                    <div class="rf" data-bind="visible:!$root.showWFA()">
                                            <p data-bind="text:C3_577539013289"></p> 
                                     </div>
                                </div>
                            </label>
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    
                    <!--startprint-->
    <div id="right" class="right" data-bind="css: {allScreen: !allScreen()},visible:list()">
        <div class="rightTitle bb">
            <b data-bind="text: detailModel().C3_577527878289+' - Offer Confirmation for '+detailModel().C3_575720832516"></b>
            <img src ="../../../img/enlarger.png"id="enlarger"  class="allScreenBtn rf" style="cursor: pointer" data-bind="click: allScreenFn,visible:allScreen()">
            <img src ="../../../img/shrink.png" id="shrink" class="allScreenBtn rf"  style="cursor: pointer" data-bind="click: allScreenFn,visible:!allScreen()">
           
        </div>
        
        <div id="line" style="border:1px solid #ccc;width:0;float:left;margin-left:2px;">
            </div>
        <div class="rightDetail" id="rightDetail">
            <!-- <div class="listDetail">
                <label class="listTitle">Applicant</label> <b style="margin-left: 50px" data-bind="text: detailModel().C3_577296084347"></b>
            </div>
            <div class="listDetail">
                <label class="listTitle">Current Approver</label> <b style="margin-left: 50px" data-bind="text: detailModel().C3_577296084161"></b>
            </div>
            <div class="listDetail">
                <label class="listTitle">Current State</label> <b style="margin-left: 50px" data-bind="text: detailModel().C3_577296084509"></b>
            </div> -->
            <!-- <div class="listDetail">
                <label class="listTitle">Follow up operation</label>
                <a class="aBtn" style="border-right: 2px solid #bbb" data-bind="click: approveSubmit">Approve</a>
                <a class="aBtn" data-bind="click: rejectSubmit">Reject</a>
            </div> -->
<!--             
            <div class="listDetail" style='margin-top:8px;margin-left:24px'>
                <b class="listTitle">Comments</b>
            </div>
            <textarea class="depInputArea" style="resize:none;height:60px;margin-left:24px" data-bind="value: detailModel().C3_577296084691" />
             -->
            <div style='margin-top:8px;margin-left:24px;'>  
                <button class="approveBtn ant-btn ant-btn-primary" data-bind="visible:showWFA(),click: approveSubmit">Approve</button>
                <button class="approveBtn ant-btn ant-btn-danger" data-bind="visible:showWFA(),click: rejectSubmit">Reject</button>
            </div>
            <div style='width:100%;height:1px;background-color: #e8e8e8;margin-top: 24px;'></div>
            <div class='newDetails'>
                <h3 class="listTitle b1" style="width:160px;height:40px;text-align:center;font-size:13px;font-weight:700;" data-bind="click:clickDetail,css:{btnBg: showdetail()}">Compensation Package</h3>
                <h3 id="centerline" style="height:40px;padding: 0 10px;font-size:13px;font-weight:700;border-right:1px solid #ccc;border-left:1px solid #ccc;margin-left:-4px" data-bind="click:clickProcess,css:{btnBg: showprocess()}">Working Flow</h3>
                <!-- <h3 style="height:40px;padding: 0 10px;font-size:13px;font-weight:700;margin-left:-4px" data-bind="click:clickMore,css:{btnBg: showmore()}">More related</h3> -->
            </div>
            <div data-bind="visible:showdetail()">
            <p style="padding:16px 24px 0;font-size: 1rem;" data-bind="visible:(detailModel().C3_647541378011?true:false)">
                Hi <span data-bind="text: detailModel().C3_647541378011"></span>,
                <br/>
                We have already got <span data-bind="text: detailModel().C3_648730507361"></span><span data-bind="visible:(detailModel().C3_648730507361?false:true)">Gray (or Lee)</span>’s approval for the offer to below candidate.  According to the Signature Authorization Matrix, I’m looping you in the process for your information.  If you have any concerns on the offer, please feel free to let us know.  Thanks.
            </p>
                <div class='memberInfo'>
                <ul>
                    <li>
                        <b>Candidate：</b><span data-bind="text: detailModel().C3_575720833026"></span>
                    </li>
                    <li>
                        <b>Title：</b><span data-bind="text: detailModel().C3_575720832516"></span>
                    </li>
                    <li>
                        <b>Manager：</b><span data-bind="text: detailModel().C3_577295903953"></span>
                    </li>
                    <li>
                        <b>Salary：</b><span>RMB</span><span data-bind="text: detailModel().C3_575720834527"></span><span>/month</span>
                    </li>
                    <li>
                        <b>Job Grade：</b><span data-bind="text: detailModel().C3_645014959755"></span><span data-bind="visible:detailModel().C3_645014959389">(Reference II-VI global job grade in discussion is 
                        </span><span data-bind="text: detailModel().C3_645014959389,visible:detailModel().C3_645014959389"></span><span data-bind="visible:detailModel().C3_645014959389">)</span>
                    </li>
                    <li>
                        <b>RSU/ Stock Option Value (if applicable)：</b><span data-bind="text: detailModel().C3_575720834839"></span>
                    </li>
                    <li>
                        <b>Other incentives (bonus, relocation, sign-on)：</b><span data-bind="text: detailModel().C3_577298355324">
                        </span>
                    </li>
                    <li>
                        <b>Compa-ratio：</b><span data-bind="text: detailModel().C3_645308751669"></span>
                    </li>
                    <li>
                        <b>Education：</b><span data-bind="text: detailModel().C3_645014961841">/span>
                    </li>
                    <li>
                        <b>Work experience：</b><span data-bind="text: detailModel().C3_645371103966">10 years</span>
                    </li>
                    <br/>
                    <b data-bind="text: detailModel().C3_575720833199"></b>
                </ul>
            </div>
            
            <div class="listDetail" style='margin-left:24px;margin-bottom:16px;'>
                <b class="listTitle">Attachment</b>
                <img  style="width:20px;height:20px;" src="../../../img/attachment.png" data-bind="visible: detailModel().C3_577296124859"/> 
            
                <a class="aBtn" style="width: 200px;margin-left:-30px;" data-bind="visible: detailModel().C3_577296124859,attr: { href: detailModel().C3_577296124859 }">Interview Assessment</a>
                <img  style="width:20px;height:20px;" src="../../../img/attachment.png" data-bind="visible: detailModel().C3_577296124859"/> 
            
                <a class="aBtn" style="margin-left:-22px;"  data-bind="visible: detailModel().C3_577296126919,attr: { href: detailModel().C3_577296126919 }">Resume</a>
              
            </div>
            </div>
            
            <div data-bind="visible: showprocess()" >
                <table width="100%" style="text-align: center" cellpadding='0' cellspacing='0' class='workingflow'>
                    <thead>
                        <tr>
                            <!-- <th style="text-align: center">Number</th> -->
                            <th style="text-align: center">Approver</th>
                            <th style="text-align: center">Date</th>
                            <th style="text-align: center">Approve/Reject</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: pList">
                        <tr>
                            <!-- <td><b style="font-weight:normal" data-bind="text: C3_576414897244"></b></td> -->
                            <td><b style="font-weight:normal" data-bind="text: C3_576414908880"></b></td>
                            <td><b style="font-weight:normal" data-bind="text: date"></b></td>
                            <td><b style="font-weight:normal" data-bind="text: C3_576414933129"></b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    
                    <!--endprint-->
                    
    <div id="print-content"></div>
    <!-- <input class="noPrint" type="button" value="dayin" onclick="doPrintOut2()"/> -->
</form>
 